
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.card{
    width: 360px;
    box-shadow: 15px;box-shadow:0 5px 20px rgba(0,0,0,.1);
    border-radius: 12px;
    /* height: 465px; */
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,.2) ;
}

.badge{
    background-color: #ff3838;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.122);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
    z-index: 2;
}

.img{
    height:200px;
    overflow: hidden;

}

.img img{
    width: 100%;
    height: 100%;
}

.card:hover .img img{
    transform: scale(1.05);
}

.product-info{
    padding: 10px 15px;
}

.cat{
    color: #71717a;
    font-size: 0.9em;
}

.title{
    font-size: 0.9em;
    margin: 5px 0 15px;
}

.desc{
    color: #71717a;
}

.desc span{
    display: inline-block;
    background-color:  #71717a14;
    border-radius: 15px;
    margin:15px 5px;
    padding: 6px;
    font-size: 0.8em;
}

.price-cart{
    display: flex;
    gap: 100px;
    margin: 15px 0;
}

.price .old-price{
    text-decoration: line-through;
    color: #71717a;
}
.price .new-price{
    font-weight: 600;
    font-size: 1.2em;
}

.add-to-cart{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2px;
}

.add-to-cart:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.rating{
    color: rgb(255, 157, 0);
    font-size: 1.2em;
}

.rating-count{
    color: #71717a;
    font-size: 0.9em;
}

.status{
    color: rgb(32, 241, 32);
    font-size: 0.9em;
    display: inline-block;
    margin-left: 90px;
}

