* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: beige; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* open navbar */
.open-nav {
    width: fit-content;
}

.open-nav button {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.081);
}

.open-nav button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.23);
}

.open-nav button img {
    width: 100%;
    height: 100%;
}

.nav {
    background-color: black;
    color: white;
    text-align: center;
    width: 15vw;
    min-width: 200px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease-in-out;

}

.nav .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.nav .close button {
    background-color: transparent;
    color: orangered;
    padding: 5px;
    font-size: 1.4em;
}

.nav .close button:hover {
    background-color: rgba(255, 255, 255, 0.163);
    cursor: pointer;
}

.nav h2 {
    padding: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ffffff26;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

ul li a:hover {
    color: #fffefdab;
}