ul {
    display: flex;
    background-color: #ccc;
    padding: 0;
    margin: 0;

}

li {
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
}

li a:hover {
    background-color: #ddd;
}