* {
    margin: 0;
    padding: 0;
}

:root {
    --pcolor: #d9d9d9;
}

body {
    background-color: #1B56FD;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    width: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: var(--pcolor);
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.name {
    width: 150px;
    height: 15px;
    background-color: var(--pcolor);
    margin-bottom: 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.handler {
    width: 200px;
    height: 12px;
    background-color: var(--pcolor);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.about {
    margin: 20px 0;
}

.line1 {
    width: 320px;
    height: 12px;
    background-color: var(--pcolor);
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.line2 {
    width: 320px;
    height: 12px;
    background-color: var(--pcolor);
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.line3 {
    width: 280px;
    height: 12px;
    background-color: var(--pcolor);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.connection {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: var(--pcolor);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.logo::before,
.name::before,
.handler::before,
.line1::before,
.line2::before,
.line3::before,
.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, 0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: -450px 0;
    }

    100% {
        background-position: 450px 0;
    }
}